<html ng-app = "app2">
	<style>
		.clr{color:red;}
		.star{color:red;}
	</style>
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



	<body>
		<div class="container" ng-controller="formsController">
		<center><h2 class="text-danger">Edit Post</h2></center>
		<hr/>
		

			 <form class="form-horizontal form-success" name = "postform" role = "form"><!--form starting -->
		    
		     <div class="form-group has-success" ><!--name div starting-->
		      <label class="control-label col-sm-4"for ="title"><span class="star">*</span>Title:</label>
		       		
		      <div class="col-sm-4"><!--title div starting-->
		        <input type="text" name="title" ng-model="post.title" class="form-control" placeholder="Title" ng-pattern="/[a-z|A-Z|]/"required/>
		        		
		        <span ng-show = "postform.title.$dirty && postform.title.$invalid">
		        <span ng-show = "postform.title.$error.required " class = "clr">title is required</span>
		        <span ng-show = "postform.title.$error.pattern" class = "clr">Enter title in correct format</span>
		      </div> 
		  	</div><!--title div ending-->

		    <div class = "form-group has-success"><!--description div starting-->
		      <label class = "control-label col-sm-4" for = "description"><span class = "star">*</span>Description: </label>

		      <div class = "col-sm-4">

		      	<textarea name = "description" ng-model = "post.description" class = "form-control" placeholder="description" required/></textarea>
		      		
		      	<span ng-show = "postform.description.$dirty && postform.description.$invalid">
		      	<span ng-show = "postform.description.$error.required" class = "clr">text is required</span>
		      	<!-- <span ng-show = "postform.description.$error.emai"class = "clr">Enter valid Email</span> -->
		      </div>

			</div><!--description div ending-->

			<div class = "form-group has-success"><!--category div starting-->
				 <label class = "control-label col-sm-4" for = "category"><span class = "star">*</span>Category: </label>
			<div class = "col-sm-4">
				<select name="category" ng-model="post.category" class = "form-control">
     				<option value = "select category">select category</option> 
      				<option value = "Tele Communication">Tele Communication</option> 
      				<option value = "Comedy">Comedy</option>
      				<option value = "Scientific">Scientific</option>
    			</select><br>
			</div>
			
			</div><!--category div ending-->

			
				
			<div class="form-group"><!--buttons div starting-->
		     	<div class="col-sm-offset-4 col-sm-4">
		     		<input type="submit" value="update" class= "btn btn-info btn-sm" ng-click="update(post.id)"/>
		     		<a href = "homepage.html">Back</a>
		     	</div>
		    </div><!--buttons div ending-->

		     			{{post.title}}

		  </form>
		
		
		 
		</div>


<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
  		<script src = "postform.js"></script>

	</body>	

</html>

